
.navigation {
    grid-area: nav;
    background-color: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.list {
    margin-right: 30px;
}

.item {
    color: #050505;
    list-style: none;
}

.active {
    color: #1e90ff;
}