.app-wrapper {
  display: grid;

  width: 1200px;

  grid-template-areas:
  "head head"
  "nav cont";

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  /*grid-gap: 10px;*/
}

.header {
  grid-area: head;
  background-color: #9c88ff;
}

.navigation {
  grid-area: nav;
  background-color: #8c7ae6;
}

.content {
  grid-area: cont;
  background-color: #f5f6fa;
}

.header img {
  width: 55px;
}
