.app-wrapper {
  display: grid;

  /*width: 1200px;*/

  grid-template-areas:
  "head head"
  "nav cont";

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  /*grid-gap: 10px;*/

  font-family: system-ui, "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;

  background-color: #f1f2f6;
}






