.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsList {
    list-style: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.dialogItem {

}

.messagesList {
    list-style: none;
    width: 840px;
    margin: 0 auto;
    margin-top: 20px;

}

.messageItem {

}

.active {
    color: #1e90ff;
}